.khan__buy-link {
  left:656px;
  top:0;
  position: absolute;
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color:#2f80ed;
}

.khan__buy-link:hover {
  transition:0.2s;
  opacity:0.4;
}
